<div class="tab-pane active" id="profile">
  <div class="row">
      <div class="col-sm-4">
          <div class="gal-detail thumb">
              <a href="#" class="image-popup" title="Screenshot-2">
                  <img src="../../../assets/images/img_avatar.png" class="thumb-img" alt="work-thumbnail">
              </a>
              <h4 class="text-center">Gallary Image</h4>
              <div class="ga-border"></div>
              <p class="text-muted text-center"><small>Photography</small></p>
          </div>
      </div>

      <div class="col-sm-4">
          <div class="gal-detail thumb">
              <a href="#" class="image-popup" title="Screenshot-2">
                  <img src="https://lorempixel.com/400/300/nature/2" class="thumb-img" alt="work-thumbnail">
              </a>
              <h4 class="text-center">Gallary Image</h4>
              <div class="ga-border"></div>
              <p class="text-muted text-center"><small>Photography</small></p>
          </div>
      </div>

      <div class="col-sm-4">
          <div class="gal-detail thumb">
              <a href="#" class="image-popup" title="Screenshot-2">
                  <img src="https://lorempixel.com/400/300/nature/3" class="thumb-img" alt="work-thumbnail">
              </a>
              <h4 class="text-center">Gallary Image</h4>
              <div class="ga-border"></div>
              <p class="text-muted text-center"><small>Photography</small></p>
          </div>
      </div>

      <div class="col-sm-4">
          <div class="gal-detail thumb">
              <a href="#" class="image-popup" title="Screenshot-2">
                  <img src="https://lorempixel.com/400/300/nature/4" class="thumb-img" alt="work-thumbnail">
              </a>
              <h4 class="text-center">Gallary Image</h4>
              <div class="ga-border"></div>
              <p class="text-muted text-center"><small>Photography</small></p>
          </div>
      </div>

      <div class="col-sm-4">
          <div class="gal-detail thumb">
              <a href="#" class="image-popup" title="Screenshot-2">
                  <img src="https://lorempixel.com/400/300/nature/5" class="thumb-img" alt="work-thumbnail">
              </a>
              <h4 class="text-center">Gallary Image</h4>
              <div class="ga-border"></div>
              <p class="text-muted text-center"><small>Photography</small></p>
          </div>
      </div>

      <div class="col-sm-4">
          <div class="gal-detail thumb">
              <a href="#" class="image-popup" title="Screenshot-2">
                  <img src="https://lorempixel.com/400/300/nature/6" class="thumb-img" alt="work-thumbnail">
              </a>
              <h4 class="text-center">Gallary Image</h4>
              <div class="ga-border"></div>
              <p class="text-muted text-center"><small>Photography</small></p>
          </div>
      </div>
  </div>
</div>
