<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<ul class="topnav">
  <li><a class="active">Home</a></li>
  <li><a routerLink="/login">News</a></li>
  <li><a routerLink="/comment">Comment</a></li>
  <!-- <li class="right"><a routerLink="/resetpassword">forgotten password</a></li> -->
  <li *ngIf="state" class="right"><a (click)="click()" routerLink="/login">Signout</a></li>
  <li *ngIf="state" class="right"><a routerLink="/login">profile</a></li>
  <li *ngIf="!state" class="right"><a routerLink="/login">SignIn</a></li>
  <li class="right"><a routerLink="/reg">SignUp</a></li>
  
</ul>

<div style="padding:0 16px;">
    <router-outlet></router-outlet>
    
</div>
</body>
</html>
